@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: 0px;
}

/* SHARED */
.display-flex {
    display: flex;
}

header {
    max-width: 1440px;
    margin: 0px auto;
}

.navbar {
    justify-content: center;
    align-items: center;
    gap: 186px;
    padding: 20px 0px;
}

.nav-logo {
    align-items: center;
    gap: 11px;
}

.logo {
    /* height: 10vh;
    width: 4.5vw; */

    height: auto;
    width: 100%;

    /* max-width: 100%;
    min-width: 30%; */

}

.logo-title {
    font-size: 2rem;
    font-weight: 700;

}

.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.raleway-font {
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.nav-items {
    justify-content: center;
    align-items: center;
    gap: 32px
}

a {
    text-decoration: none;

}

.nav-item {
    font-size: 1.25rem;
    font-weight: 600;
}

.black-color {
    color: #111111;
}

.sky-color {
    color: #01ACFD;
}

.orange-color {
    color: #FEA301;
}

.facilities-color {
    color: #05D4DF
}

.admission-color {
    color: #5D58EF;
}

.btn {
    padding: 10px 40px;
    border-radius: 12px;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
}

.contact-btn {
    background-color: #FEA301;
}

.mobile-item {
    display: none;
}

.horizontal-line {
    border: 0.5px solid #FEA301;
    width: 100%;
    display: none;
}

.banner-container {
    max-width: 1440px;
    margin: 0px auto;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.banner-content {
    display: flex;
    flex-direction: column;
    gap: 24px
}

.banner-title {
    font-weight: 700;
    font-size: 3.5rem;
}

.banner-subtitle {
    font-weight: 400;
    font-size: 1.25rem;
}

.banner-btn {
    background-color: #000000;
    font-weight: 700;
    font-size: 1.25rem;
}

.curriculum-container {
    background-image: url('../assets/bg.png');
    width: 100%;
    /* border: 2px solid red; */
}

.curriculum-content,
.story-content {
    max-width: 1440px;
    margin: 0 auto;

}

.story-container {
    background-image:
        linear-gradient(to bottom, rgba(245, 246, 252, 0.0), rgba(255, 237, 203, 0.73)),
        url('../assets/bg.png');
    width: 100%;
    background-size: cover;
}

.curriculum-title,
.story-title {
    margin-top: 60px;
    font-weight: 700;
    font-size: 2.875rem;
    color: #000000;
    text-align: center;
}

.curriculum-card-container {
    margin-top: 80px;
    justify-content: center;
    gap: 28px;
}

.curriculum-card-one {
    background: linear-gradient(#DEF5FF 20%, 30%, white 50%);
    border-radius: 18px;
    padding: 52px 40px;
    border: 1px solid #DEF5FF;
    box-shadow: 0px 0px 28px .94px rgba(223, 210, 210, 0.05);
}

.curriculum-read-more-one {
    color: #64C8FF;
}

.curriculum-card-two {
    background: linear-gradient(#FFF4DC 20%, 30%, white 50%);
    border-radius: 18px;
    padding: 52px 40px;
    border: 1px solid #FFF4DC;
    box-shadow: 0px 0px 28px .94px rgba(223, 210, 210, 0.05);
}

.curriculum-read-more-two {
    color: #F0AA00;
}

.curriculum-card-three {
    background: linear-gradient(#F2E8FF 20%, 30%, white 50%);
    border-radius: 18px;
    padding: 52px 40px;
    border: 1px solid #F2E8FF;
    box-shadow: 0px 0px 28px .94px rgba(223, 210, 210, 0.05);

}

.curriculum-read-more-three {
    color: #8700FF;
}

.curriculum-card-content {
    flex-direction: column;
    gap: 20px;
}

.curriculum-img-portion {
    display: flex;
    justify-content: center;
    align-items: center;
}

.curriculum-img {
    width: 137px;
    height: 137px;
}

.curriculum-card-title,
.curriculum-description,
.curriculum-read-more {
    text-align: center;
}

.curriculum-card-title {
    font-weight: 700;
    font-size: 1.5rem;
    color: #202020;
}

.curriculum-description {
    font-weight: 500;
    font-size: 1rem;
    color: #808080;
}

.curriculum-read-more {
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
}

.arrow-background {
    background-color: #FEA301;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
    margin-bottom: 60px;
}

.arrow-background:hover {
    background-color: #d99012;
    scale: 0.95;
    transition-duration: 0.4s;
}

.arrow-btn {
    margin-top: 80px;
    justify-content: center;
    gap: 10px;
    color: white;
    font-size: 1.5rem
}

.arrow-icon {
    position: relative;
    top: 20px;
    left: 20px;
}


.card {
    background-color: white;
    border-radius: 16px;
}

.story-card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    margin-top: 80px;
}

.card-1 {
    grid-row: span 2;
}

/* img {
    width: 100%;
} */
.story-card-date {
    padding: 15px 18px;
    border-radius: 47px;
    border: none;
    background-color: #3CD8E8;
    color: #FFFFFF;
    position: relative;
    top: -25px;
}

.story-card-title {
    font-weight: 700;
    font-size: 1.5rem;
}

.story-card-description {
    margin-top: 47px;
    font-weight: 600;
    font-size: 1rem;
    color: #666666;
}

.story-card-info {
    padding-left: 35px;
}

.story-sub-btn {
    position: relative;
    top: -20px;
    padding: 10px 18px;
    border: none;
    border-radius: 47px;
    background-color: #95B226;
    color: white;
    font-weight: 500;
    font-size: 1rem;
}

.story-sub-btn-blue {
    background-color: #5D58F0;
}

.story-subtitle {
    margin-top: 10px;
    font-size: 1rem;
    font-weight: 700;
}

.story-img {
    height: 50%;
    width: 100%;
    border-radius: 16px 16px 0px 0px;
}

.story-view-btn {
    justify-content: center;
}

.view-btn {
    margin-top: 80px;
    background-color: #000000;
    font-weight: 700;
    font-size: 1.25rem;
    margin-bottom: 60px;
}

footer {
    width: 100%;
    background-color: #01ACFD;
}

.footer-container {
    padding: 123px 228px 174px 140px;
}

.footer-content {
    display: flex;
    justify-content: center;
    gap: 150px;
}

.footer-about {
    font-weight: 700;
    font-size: 1.5rem;
    color: white;
    margin-bottom: 32px;
}

.footer-about>a {
    text-decoration: none;
}

.footer-home,
.footer-about-link,
.footer-facility,
.footer-admission {
    color: white;
    font-size: 1.25rem;
}

.foot-link {
    margin-top: 10px;
}

.footer-title {
    color: white;
    font-weight: 700;
    font-size: 2.625rem;
}

.footer-info {
    align-items: center;
}

.footer-description {
    color: white;
    margin-top: 35px;
    font-size: 1.25rem;
    font-weight: 400;
}

.keep-in-touch {
    font-weight: 700;
    font-size: 1.625rem;
    color: white;
    margin-bottom: 32px;
}

.keep-img {
    display: flex;
    gap: 10px;
}

.keep-img>img {
    cursor: pointer;
}

.footer-logo {
    width: 70px;
    height: 70px;
}

@media screen and (max-width:576px) {
    .navbar {
        padding: 12px 16px;
    }

    .nav-item {
        display: none;
    }

    .logo-title {
        display: none;
    }

    .mobile-item {
        display: block;
        cursor: pointer;
    }

    .horizontal-line {
        border: 0.5px solid #FEA301;
        width: 100%;
        display: block;
    }

    .banner-container {
        flex-direction: column-reverse;
        gap: 20px;
    }

    .banner-content {
        text-align: center;
    }

    .banner-title {
        font-size: 2rem;
    }

    .banner-subtitle {
        font-weight: 500;
        font-size: 0.875rem;
    }

    .banner-btn {
        font-size: 1rem;
    }

    .curriculum-title {
        margin-top: 40px;
        font-size: 1.625rem;
    }

    .enroll-btn {
        display: flex;
        justify-content: center;
    }

    .curriculum-card-container {
        margin-top: 20px;
        flex-direction: column;
        gap: 12px;
    }

    .curriculum-card-title {
        font-size: 1rem;
    }

    .curriculum-description {
        font-size: 0.625rem;
    }

    .curriculum-read-more {
        font-size: 0.625rem;
    }

    .curriculum-card-content {
        flex-direction: column;
        gap: 10px;
    }

    .curriculum-card-one,
    .curriculum-card-two,
    .curriculum-card-three {
        border-radius: 12px;
        padding: 32px 20px;
    }

    .arrow-btn {
        display: none;
    }

    .card-1 {
        display: none;
    }

    .story-card-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        margin-top: 30px;
    }

    .story-subtitle {
        font-size: 0.5rem;
    }

    .story-sub-btn {
        font-size: 0.5rem;
    }

    .view-btn {
        margin-top: 20px;
        background-color: #000000;
        font-weight: 700;
        font-size: 1rem;
        margin-bottom: 40px;
    }

    .footer-content {
        flex-direction: column;
        gap: 30px;
    }

    .footer-title {
        font-size: 2.1875rem;
    }

    .footer-description {
        font-size: 1rem;
    }

    .footer-about {
        font-size: 1.25rem;
    }

    .footer-home,
    .footer-about-link,
    .footer-facility,
    .footer-admission {
        color: white;
        font-size: 1rem;
    }

    .keep-in-touch {
        font-weight: 700;
        font-size: 1.375rem;
    }
}