@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: 0px;
}
/* SHARED */
.display-flex{
    display: flex; 
}


header{
    max-width: 1440px;
    margin: 0px auto;
    
}

.navbar{
    justify-content: center;
    align-items: center;
    gap: 186px;
    padding: 20px 0px;
}
.nav-logo{
    align-items: center;
    gap: 11px;
    /* background-color: red; */
    
}
.logo{
    /* height: 10vh;
    width: 4.5vw; */

   
    height: auto;
    width: 100%;

    /* max-width: 100%;
    min-width: 30%; */
    
}
.logo-title{
    font-size: 2rem;
    font-weight: 700;
    
}
.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
.nav-items{
    justify-content: center;
    align-items: center;
    gap:32px
}
 a{
    text-decoration: none;
   
}
.nav-item{
    font-size: 1.25rem;
    font-weight: 600;
    /* cursor: pointer; */
}
.black-color{
    color: #111111;
}
.sky-color{
    color: #01ACFD;
}
.orange-color{
    color: #FEA301;
}
.facilities-color{
    color:#05D4DF
}
.admission-color{
    color: #5D58EF;
}
.btn{
    padding: 10px 40px;
    border-radius: 12px;
    border: none;
    color: #FFFFFF;
    
    cursor: pointer;
}
.contact-btn{
    background-color: #FEA301;
}
.mobile-item{
    display: none;
}
.horizontal-line{
    border: 0.5px solid #FEA301;
    width: 100%;
    display: none;
  
}
.banner-container{
    max-width: 1440px;
    margin: 0px auto;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.banner-content{
   display: flex;
   flex-direction: column;
   gap:24px
    
}
.banner-title{
    font-weight: 700;
    font-size: 3.5rem;
}
.banner-subtitle{
    font-weight: 400;
    font-size: 0.8rem;
}
.banner-btn{
    background-color: #000000;
    font-weight: 700;
    font-size: 0.8rem;
}
.curriculum-container{
    background-image: url('../assets/bg.png');
    width: 100%;
    border: 2px solid red;
    
}
.curriculum-content{
    max-width: 1440px;
    margin: 0 auto;
}
.curriculum-title{
    margin-top: 60px;
    font-weight: 700;
    font-size: 2.875rem;
    color: #000000;
    text-align: center;
}
.curriculum-card-container{
    margin-top: 80px;
    justify-content: center;
    
    gap: 28px;
}
.curriculum-card-one{
    /* background: linear-gradient(0deg, white, #DEF5FF 90%) ; */
    /* background:linear-gradient(red 10%, 30%, blue 90%); */
    background:linear-gradient(#DEF5FF 20%, 30%, white 50%);
}
.curriculum-card-two{
    background:linear-gradient(#FFF4DC 20%, 30%, white 50%);
}
.curriculum-card-three{
    background:linear-gradient(#F2E8FF 20%, 30%, white 50%);
}
.curriculum-card-content{
    flex-direction: column;
    border: 6px solid green;
    
    border-radius: 18px;
    gap: 20px;
    
}
.curriculum-card{
    /* background-color: #ceccd6; */
    padding: 52px 40px;
    border: 2px solid red;
    /* box-shadow: 0px 0px 40px 0 rgba(0, 0, 0, 0.15); */
    box-shadow: 0px 0px 28px .94px rgba(223, 210, 210, 0.05) ;
}
.curriculum-img-portion{
    display: flex;
    justify-content: center;
    align-items: center;
}
.curriculum-img{
    width: 137px;
    height: 137px;
    /* justify-content: center; */
    
}

.curriculum-card-title,
.curriculum-description,
.curriculum-read-more{
    text-align: center;
}
.curriculum-card-title{
    font-weight: 700;
    font-size: 1.5rem;
    color: #202020;
}
.curriculum-description{
    font-weight: 600;
    font-size: 1rem;
    color: #808080;
}
.curriculum-read-more{
    font-weight: 700;
    font-size: 1rem;
    color: #64C8FF;
    cursor: pointer;
}


@media screen and (max-width:576px) {
    .navbar{
        padding: 12px 16px;
        
    }
   .nav-item{
    display: none;
   }
   
   .logo-title{
    display: none;
   }
   .mobile-item{
    display: block;
    cursor: pointer;
}
.horizontal-line{
    border: 0.5px solid #FEA301;
    width: 100%;
    display: block;
}
.banner-container{
    flex-direction: column-reverse;
    gap: 20px;
}
.banner-content{
    text-align: center;
}
.enroll-btn{
    display: flex;
    justify-content: center;
}
.curriculum-card-container{
    flex-direction: column;
}
}